@model List<Day1Homework.ViewModel.AccountBookModel>
@using Day1Homework.MyEnum;
@using Day1Homework.Helper;
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>
            @{int i = 0; }
            @foreach (var md in Model)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>@md.ClassType</td>
                    <td>@md.AccountDate</td>
                    <td>@ChangeShowColor(md.ClassType, md.BillingAmount) </td>
                </tr>
            }
        </table>
    </div>
</div>

@helper ChangeShowColor(string category, double amount)
{
if (category == CategoryEnum.Income.GetDisplayName())
{
        <font color="blue">@string.Format("${0,12:N0}", amount)</font>
}
else
{
        <font color="red">@string.Format("${0,12:N0}", amount)</font>
        }
        }
