@model Day1Homework.ViewModel.CreateViewModel
@{
    ViewBag.Title = "Home Page";
}

@using (Ajax.BeginForm(new AjaxOptions
{
    UpdateTargetId = "ajax",
    Confirm = "確認新增?",
    LoadingElementId = "loading",
    LoadingElementDuration = 2000,
    InsertionMode = InsertionMode.Replace,
    Url = Url.Action("AjaxPost", "AccountBook")
}))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <label for="category" class="col-sm-2 control-label">類別</label>
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.CategoryOptions, "請選擇", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="money" class="col-sm-2 control-label">金額</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountBookModel.BillingAmount, new { htmlAttributes = new { @class = "form-control", placeholder = "金額" } })
                @Html.ValidationMessageFor(model => model.AccountBookModel.BillingAmount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">日期</label>  <div class="col-md-10">
                @Html.EditorFor(model => model.AccountBookModel.AccountDate, new { htmlAttributes = new { @class = "form-control", placeholder = "日期" } })
                @Html.ValidationMessageFor(model => model.AccountBookModel.AccountDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">備註</label>  <div class="col-md-10">
                @Html.TextAreaFor(model => model.AccountBookModel.Note, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div id="ajax">
    @Html.Action("ChildAction")
</div>
<div id="loading">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>

@section scripts{
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}